<div class="pie row" >
<div class="foot col-md-12">
	<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="col-md-12">		
				<div class="botwid col-md-3 widget_text"><br>
					<h4 class="bothead">FURNITURE</h4>
					<div class="text_widget">
						<p >Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum vehicula erat non congue cursus. Aenean auctor nulla quis augue dictum, sed sagittis odio varius? Aliquam nec venenatis turpis. Aenean euismod arcu vel volutpat tristique. In mattis ipsum quis magna feugiat, id tempus metus accumsan.</p>
					</div>
				</div>
				<div class="botwid col-md-3 widget_meta"><br>
					<h4 class="bothead">META</h4>
					<ul>
						<li><a href="#">Log in</a></li>
						<li><a href="#">Entries RSS</a></li>
						<li><a href="#">Comments RSS</a></li>
						<li><a href="#">WordPress.org</a></li>
					</ul>
				</div>
				<div class="col-md-3 widget_archives"><br>
					<h4 class="bothead">ARCHIVES</h4>
					<ul>
						<li>June 2016</li>
					</ul>
				</div>
				<div class="botwid col-md-3 widget_meta"><br>
					<h4 class="bothead">RECENT POSTS</h4>
					<ul>
						<li><a href="#">Etiam mauris tortor, pharetra quis lobortis in, pharetra in diam</a></li>
						<li><a href="#">Nunc libero elit, iaculis nec augue non</a></li>
						<li><a href="#">Falauris sollicitudin quis dolor venenatis facilisis</a></li>
						<li><a href="#">Phasellus aliquet iaculis neque accumsan aliquam</a></li>
						<li><a href="#">Vivamus blandit ipsum sed arcu euismod</a></li>
					</ul>
				</div>
			
				<div>Copyright © 2016 <a href="#">furniture</a> - Just another demo Sites site.
					<br>
					<a href="#">| Furniture</a>
				</div>
			</div>
		</div>
</div>
</div>
	
	
	
	

	