<div class="colaborador row">
	<div class="col-md-2"></div>
		<div class="partner col-md-8">
			<partner-directive ng-repeat="logo in logos" ></partner-directive>
		
			<!--<h3 class="colaboradores">Partners</h3>
			<div class="imagenes col-md-2">
				<img src="./img/patro1.png">
			</div>
			<div class="imagenes col-md-2">	
				<img src="./img/patro2.png">
			</div>
			<div class="imagenes col-md-2">	
				<img src="./img/patro3.png">
			</div>
			<div class="imagenes col-md-2">	
				<img src="./img/patro5.png">
			</div>
			<div class="imagenes col-md-2">	
				<img src="./img/patro6.png">
			</div>
			<div class="imagenes col-md-2">	
				<img src="./img/patro7.png">
			</div>-->
		</div>	
	<div class="col-md-2"></div>
</div>