<div class="sliderFoto row"> 
    <div class="box_slider col-lg-12">
      
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>

          
        <div ng-controller="carouselController"  class="carousel-inner" role="listbox">
        
          <div ng-repeat="item in slides" class="item {{item.active}}">
              <img  class="carouselImg" ng-src=" {{ item.image }} " alt=" " width="100%" height="auto">
              <div class="carousel-caption">
                <h3> {{item.text}}</h3>
                <p>{{item.title}}</p>
              </div>
            </div>
        
          </div>

           <a class="left carousel-control" data-target="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" data-target="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>


  <div class="linea row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <lines-directive ng-repeat="line in lines"></lines-directive>
    </div>

  </div>    

<div class="colaborador row">
  <div class="col-md-2"></div>
    <div class="partner col-md-8">
      <partner-directive ng-repeat="logo in logos" ></partner-directive>
    </div>  
  <div class="col-md-2"></div>
</div>
